.accordion__inner {
  padding: 0;
  display: block;
  visibility: hidden;
  max-height: 0;
  opacity: 0;
  transition: all 0.5s ease;
  transition: opacity 0.5s ease;
}

.accordion__inner--show {
  /* padding: 10px; */
  visibility: visible;
  max-height: 10000px;
  opacity: 1;
}

.accordion__button {
  color: #922610;
  position: relative;
  font-size: 1.2rem;
  margin: 0.9rem 0;
  background: white;
}

.accordion__button::after {
  content: "";
  position: absolute;
  top: 105%;
  height: 2px;
  width: 100%;
  left: 0;
  background-color: #922610;
}