.topbar {
  background-color: #333333 !important;
  height: 2.5rem;
  padding: 0 2rem;
  box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.2);
  z-index: 100000;
  font-size: 0.8rem;
}

#profile-details {
  height: 2rem;
}

#profile-photo {
  height: 2rem;
  width: 2rem;
  border-radius: 50%;
  background-position: center;
  background-size: 100%;
  float: left;
}

#profile-name {
  float: left;
  margin: 0.4rem 1rem 0 0.7rem;
}

.topbar button {
  background: none;
  border: none;
  color: #ddd;
  height: 2rem;
  cursor: pointer;
  transition: all 0.2s ease;
  padding: 0 0.5rem;
  font-size: 0.8rem;
}

.topbar button:hover {
  background-color: #111;
}
