.u-float {
  &-container {
    clear: both;
  }
  &-left {
    float: left;
  }
  &-right {
    float: right;
  }
}

.u-placeholder-text {
  font-size: .8rem;
  color: #ababab;
  font-style: italic;
  margin-left: 1rem;
}