$pf-maroon: rgb(95, 7, 0);
$pf-beige: rgb(216, 196, 133);
$pf-light-gray: rgb(209, 210, 211);
// $pf-navy: #032863;
$pf-navy: #203863;
$pf-light-blue: rgb(229, 239, 250);

$light-gold: rgb(249, 242, 215);

$inknut-font: "Inknut Antiqua", Times, serif;

$dnd-maroon: #4d1307;
