$inknut-font: "Inknut Antiqua", Times, serif;

// Pathfinder Colors
$pf-maroon: rgb(95, 7, 0);
$pf-beige: rgb(216, 196, 133);
$pf-light-gray: rgb(209, 210, 211);
$pf-navy: #032863;
// $pf-navy: #203863;
$pf-light-blue: rgb(229, 239, 250);

// D&D Colors
$dnd-maroon: #4d1307;

// Font Colors
$color-n1: #f3f3f3;
$color-n2: #ddd;
$color-n3: #bebebe;
$color-n4: #a2a2a2;
$color-n5: #898989;
$color-n6: #727272;
$color-n7: #5d5d5d;
$color-n8: #484848;
$color-n9: #333333;

// Spacing

$space-base: 1rem;
$space-1o4: $space-base/4;
$space-1o2: $space-base/2;
$space-2: $space-base * 1.2;
$space-3: $space-base * 1.44;
$space-4: $space-base * 2.728;
$space-5: $space-base * 2.074;
$space-6: $space-base * 2.488;
