@import "./variables";
@import "./utilities";

.page {
  &--dark {
    background-color: rgb(161, 161, 161);
  }
  &__container {
    max-width: 1024px;
    margin: auto;
    margin-top: 6rem;
  }
}

@import './pf/pathfinder.scss';