.c-modal-button-row {
  display: block;
  width: 100%;
  border: none;
  cursor: pointer;
  text-align: left;
  padding: 0.5rem;

  transition: all 0.2s ease;

  &:hover {
    background-color: #efefef;
  }
}
