.pf-ability {
  text-align: center;
  font-family: "Inknut Antiqua", Times, serif;
  padding: 1rem;
  line-height: 1;
  float: left;
  width: 16.6666666666667%;
  
  &--key {
    font-weight: bolder;
    background-color: $pf-light-blue;
  }

  &__name {
    display: block;
    font-size: .75rem;
    margin: 0;
  }
  &__score {
    margin-top: .25rem;
    margin-bottom: .75rem;
    display: block;
    font-size: 1.5rem;
  }
  &__mod {
    display: block;
    font-size: 1rem;
  }
}
