.pf-ability {
  text-align: center;
  font-family: "Inknut Antiqua", Times, serif;
  line-height: 1;

  &--key {
    font-weight: bolder;
    background-color: $pf-light-blue;
  }

  &__name {
    display: block;
    font-size: 0.75rem;
    margin: 0;
  }
  &__score {
    margin-top: 0.25rem;
    margin-bottom: 0.75rem;
    display: block;
    font-size: 1.5rem;
  }
  &__mod {
    display: block;
    font-size: 1rem;
  }
}
