.c-check {
  display: block;
  width: 100%;
  background-color: #fff;
  height: 24px;
  transition: background-color .1s ease-in;

  &:hover {
    background-color: #dedede;
  }

  &:after {
    content: "";
    position: absolute;
    display: none;
  }

  &__container {
    display: block;
    position: relative;

    & input {
      position: absolute;
      opacity: 0;
      cursor: pointer;
      height: 0;
      width: 0;

      &:disabled ~ .c-check {
        background-color: #efefef;
      }
    }

    & input:checked ~ .c-check {
      background-color: #efefef;
    }

    & input:checked ~ .c-check:after {
      display: block;
    }

    & .c-check:after {
      left: 7px;
      top: 6px;
      width: 5px;
      height: 10px;
      border: solid #666;
      border-width: 0 2px 2px 0;
      -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      transform: rotate(45deg);
    }
  }
}