@import "./pf-section.scss";
@import "./statbox.scss";
@import "./ability.scss";
@import "./check.scss";
@import "./pf-select.scss";
@import "./pf-input.scss";
@import "./pf-skillrow.scss";

.navbar--pathfinder {
  background-color: $pf-navy !important;
}

.navbar--pathfinder .navbar-brand {
  font-family: "Inknut Antiqua";
}

#CharacterBasics {
  padding-top: 1rem;
}

label {
  margin: 0;
}

.pf-button {
  background-color: $pf-maroon;
  color: #fff;
  border: none;
  cursor: pointer;
  transition: all 0.2s ease;

  &:hover {
    background-color: $pf-light-gray;
  }

  &:focus {
    background-color: $pf-light-gray;
  }

  &--link {
    background-color: transparent;
    color: $pf-navy;
  }

  &--small {
    font-size: 0.75rem;
  }
}

.pf-font-family {
  font-family: "Inknut Antiqua", Times, serif;
}

.pf-footer {
  width: 100%;
  font-size: 0.75rem;
  margin-top: 1rem;
  padding: 1.5rem;
  background-color: #333;
  color: $pf-light-gray;

  & a {
    color: $pf-beige;
  }
}
