@import "./pf-section.scss";
@import "./statbox.scss";
@import "./ability.scss";
@import "./check.scss";
@import "./pf-select.scss";
@import "./pf-input.scss";
@import "./pf-skillrow.scss";

.navbar--pathfinder {
  background-color: $pf-maroon !important;
}

.navbar--pathfinder .navbar-brand {
  font-family: "Inknut Antiqua";
}

#CharacterBasics {
  padding-top: 1rem;
}

label {
  margin: 0;
}

