@import "./pf-section.scss";
@import "./statbox.scss";
@import "./ability.scss";
@import "./check.scss";
@import "./pf-select.scss";
@import "./pf-input.scss";
@import "./pf-skillrow.scss";

html, body {
  font-size: 14px;
}

// .pf-body {
//   // font-size: 12px !important;
// }

.navbar--pathfinder {
  background-color: $pf-maroon !important;
  color: $pf-beige !important;
}

.navbar--pathfinder .navbar-brand {
  color: $pf-beige !important;
}

#CharacterBasics {
  background-color: #fff;
  padding-top: 1rem;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.4);
}

label {
  margin: 0;
}

