.pf-section {
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
  background-color: transparent;

  background-color: white;

  &__heading {
    color: #fff;
    font-size: 1rem;
    padding: 0.6rem 1rem;
    background-color: $pf-maroon;
    margin: 0;
    font-family: "Inknut Antiqua", Times, serif;
    font-weight: 300;
    display: block;
  }

  &__body {
    min-height: 250px;
    margin-bottom: 1rem;
    &--pad {
      padding: 0.75rem;
    }
  }
}

.c-boost-group {
  margin-bottom: 0.75rem;

  &__heading {
    font-size: 0.8rem;
    background-color: $color-n2;
    padding: 0.25rem 0.5rem;
    color: #555;
    text-transform: uppercase;
    // margin: 0 0.5rem;
    // margin-bottom: 0.75rem;
  }

  & .row {
    margin: 0;
  }

  & .col {
    flex: 0 0 25%;
  }
}
