.pf-section {
  margin: 1rem auto;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.4);
  background-color: #fff;
  max-width: 600px;

  &__heading {
    color: #fff;
    font-size: 1rem;
    padding: 0.6rem 1rem;
    background-color: $pf-navy;
    margin: 0;
    font-family: "Inknut Antiqua", Times, serif;
    font-weight: 300;
  }

  &__body {
    @media (max-width: 1000px) {
      // padding: 0.5rem;
    }
  }
}

.c-gray-block-heading {
  font-size: 0.8rem;
  background-color: $pf-light-gray;
  padding: 0.25rem 0.5rem;
  color: #555;
  text-transform: uppercase;
}
