.c-statbox {
  position: relative;
  // display: inline-block;
  text-align: center;
  // width: 34px;

  &__stat {
    display: block;
    // font-size: 1.2rem;
    margin: 0;
    margin-bottom: 0.25rem;
    padding: 0.25rem 0;
    line-height: 1;
    font-family: $inknut-font;
  }

  &__title {
    max-width: 60px;
    margin: 0 auto;
    display: block;
    font-size: 0.6rem;
    text-transform: uppercase;
    border-top: 1px solid $color-n4;
    // background-color: $pf-light-gray;

    color: #111;
  }

  &__select {
    border: none;
  }

  &--large {
    transform: scale(1.3);
    font-weight: bolder;
  }

  &--secondary {
    max-width: 20px;
    border: none;
    & .c-statbox__title {
      border: none;
      // color: $color-n4;
      font-style: italic;
    }
  }
}
