.c-statbox {
  position: relative;
  text-align: center;

  &__stat {
    display: block;
    font-size: 1.3333rem;
    margin: 0;
    padding-top: 0.25rem;
    line-height: 1;
    font-family: $inknut-font;
  }

  &__title {
    max-width: 60px;
    margin: 0 auto;
    display: block;
    font-size: 0.6rem;
    text-transform: uppercase;
    border-top: 1px solid $color-n4;
  }

  &__select {
    border: none;
  }

  &--large {
    font-weight: bolder;
    .c-statbox__title {
      font-size: 0.75rem;
      max-width: 80px;
      line-height: 2;
    }
    .c-statbox__stat {
      font-size: 1.75rem;
    }
  }

  &--secondary {
    max-width: 20px;
    border: none;
    & .c-statbox__title {
      border: none;
      font-style: italic;
    }
  }
}
