.c-toast {
  min-height: 44px;
  padding-left: 1rem;
  box-shadow: 1px 1px 8px 2px rgba(0, 0, 0, 0.35); }
  .c-toast:first-child {
    margin-top: 5.5rem; }

.Toastify__toast--success {
  background: #04a542; }

.c-statbox {
  position: relative;
  text-align: center; }
  .c-statbox__stat {
    display: block;
    font-size: 1.3333rem;
    margin: 0;
    padding-top: 0.25rem;
    line-height: 1;
    font-family: "Vollkorn", Times, serif; }
  .c-statbox__title {
    max-width: 60px;
    margin: 0 auto;
    display: block;
    font-size: 0.6rem;
    text-transform: uppercase;
    border-top: 1px solid #a2a2a2; }
  .c-statbox__select {
    border: none; }
  .c-statbox--large {
    transform: scale(1.3);
    font-weight: bolder; }
  .c-statbox--secondary {
    max-width: 20px;
    border: none; }
    .c-statbox--secondary .c-statbox__title {
      border: none;
      font-style: italic; }
