@import url("//fonts.googleapis.com/css?family=Lato:100,200,300,400,500,600,700,800,900|Vollkorn:400,600,700");

html,
body,
#root {
  font-family: "Lato", Helvetica, sans-serif;
  min-height: 100vh;
  position: relative;
  overflow-y: overlay;
  line-height: 125%;
}

body::-webkit-scrollbar {
  width: 8px;
}

body::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 20px;
}

.scroller {
  overflow-y: overlay;
}

.scroller::-webkit-scrollbar {
  width: 8px;
}

.scroller::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 20px;
}

.fancy-font {
  font-family: "Vollkorn", Georgia, Times, serif;
}

option {
  text-align: left;
  background-color: white;
  color: black;
}

@import "./StatblockGenerator/StatblockGenerator.css";
@import "./_styles/animations.css";
