@import url("//fonts.googleapis.com/css?family=Lato:100,200,300,400,500,600,700,800,900|Lora:400,700|Vollkorn:400,600,700|Inknut+Antiqua:300,400,600,800");

html,
body,
#root {
  height: 100vh;
}

.c-site-container {
  font-family: "Lato", Helvetica, sans-serif;
  top: 4rem;
  position: absolute;
  left: 0;
  right: 0;
}

@import "./StatblockGenerator/StatblockGenerator.css";
@import "./_styles/Modal.css";
@import "./_styles/animations.css";
